@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>


@{
    ViewData["Title"] = "User Roles";
}

<h1>User Roles</h1>
<p>
    <a asp-action="Create">Create Roles</a>
</p>
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.Id)</th>
            <th>@Html.DisplayNameFor(Model => Model.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Modelitem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(Modelitem => item.Name)
                </td>
                <td><button>Edit</button></td>
                @if (User.IsInRole("Admin"))
                {
                    <td><button>Delete</button></td>

                }
            </tr>
        }
    </tbody>
</table>