.stock {
    height: 1000vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.searchandheader {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 60vw;
}

.stockcontent-body {
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
    flex-grow: initial;
}

.stocklists {
    height: 40vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 5px 5px 5px 5px #888888;
    align-items: center;
}

.imagedetail h5 {
    text-align: center;
    margin-top: 2%;
}


.imagesection {
    height: 20vh;
    width: 20vw;
    text-align: center;
    margin-top: 2%;
}

.imagecontainedstocklist {
    height: 20vh;
    width: 18vw;
}

.stockcolor {
    height: 30px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}

@media (max-width: 500px) {
    .stock {
        height: 250vh;
        width: 80vw;
        display: flex;
        flex-direction: column;
    }

    .stockcontent-body {
        height: 100vh;
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }

    .stocklists {
        height: 30vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        box-shadow: 5px 5px 5px 5px #888888;
        align-items: center;
    }

    .imagesection {
        height: 20vh;
        width: 32vw;
        text-align: center;
        margin-top: 2%;
    }

    .imagecontainedstocklist {
        height: 15vh;
        width: 28vw;
    }

    .imagedetail h5 {
        text-align: center;
        margin-top: 2%;
    }

    .imagedetail {
        height: 10vh;
        overflow: hidden;
        width: 30vw;
    }

    .searchandheader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
